<h1 class="center">Services</h1>
<br>
<!--<div class='center'>-->


  <div class="row justify-content-center">
    <div class="col-4">
      <%= link_to(rides_path, :class => "clickable-card") do %>
      <div class="card bg-light">
        <%= image_tag('transport.jpg', :class => "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Transportation Service</h5>
          <p class="card-text">Create and view rides.</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<!--</div>-->