<center>
  <h1>This is the admin page</h1>
  <%= link_to '<button type="submit" class="btn btn-primary">Accounts</button>'.html_safe, accounts_path %>
  <br />
  <br />
  <%= link_to '<button type="submit" class="btn btn-primary">Posts</button>'.html_safe %>
</center>
