<center>
  <h1>Admin Page</h1>
  <table class="center">
	<tr>
	  <td>
		<%= link_to '<button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Accounts</button>'.html_safe, accounts_path %>
	  </td>
	</tr>
	<tr>
	  <td>
		<%= link_to '<button type="submit" class="btn btn-primary">Posts</button>'.html_safe %>
	  </td>
  </tr>
  </table>
</center>
