<h1 class="center"/>Home#Index</h1>
<br/>
<p class="center">Find me in app/views/home/show.html.haml</p>
<hr/>
<p class="center"><a href="<%= rides_path %>">Search Rides</a></p>

<!---#%h1 Home#Index-->
<!---#%p Find me in app/views/home/show.html.haml-->
<!---#%hr-->
