<h1 class="center"/>Home#Index</h1>
<br/>
<p class="center">Find me in app/views/home/show.html.haml</p>
<hr/>

<!---#%h1 Home#Index-->
<!---#%p Find me in app/views/home/show.html.haml-->
<!---#%hr-->
