<h1 class="center"/>Login Successful</h1>
<br/>
<% if session.has_key?('login') and session['login'] %>
  <p class="body-center">
    <%= "Welcome, #{session['login']}" %>
    <div class="center">
    <%= link_to "Services", services_path %>
    </br>
    </div>
    <div class="center">
    <%= link_to "Logout", logout_path %>
    </div>
  </p>
  <% else %>
    <%= link_to "Login", login_index_path %>
<% end %>
