<h1 class="center"/>Login Successful</h1>
<br/>
<% if session.has_key?('login') and session['login'] %>
  <p class="body-center">
    <%= "Welcome, #{session['login']}" %>
    </br>
    <%= link_to "Logout", logout_path %>
  </p>
  <% else %>
    <%= link_to "Login", login_index_path %>
<% end %>
<!--<p class="center"/>-->
<!--  Username:-->
  <%#= params[:username] %>
<!--<br/>-->
<!--<br/>-->
<!--<p class="center"/>-->
<!--  Password:-->
  <%#= params[:password] %>
<!--</p>-->


<!---#%h1 Login Successful-->
<!---#%p-->
<!---#  User Name:-->
<!---#  = params[:username]-->
<!---#%p-->
<!---#  Password:-->
<!---#  = params[:password]-->
