%h1 Login Page!

= form_tag login_index_path, :method => :post do
  Login:
  %br
  Username
  = text_field_tag "username"
  %br
  Password
  = password_field_tag "password"
  %br
  = submit_tag 'Submit'
