<div><h1 class="center p-4">Login Page!</h1></div>
<form>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-4">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I understand the terms and policy associate with this service</label>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="row btn btn-primary justify-content-center">Submit</button>
  </div>
<!--</form>-->
<%#= form_tag login_index_path, :method => :post do %>
<!--  <br/><h4 class="body-center"/>-->
<!--  Username-->
  <%#= text_field_tag "username" %>
<!--  <br/>-->
<!--  <br/>-->
<!--  Password-->
  <%#= password_field_tag "password" %>
<!--  <br/>-->
<!--  <br/>-->
  <%#= submit_tag 'Submit' %>
<%# end %>

<!---#%h1 Login Page!-->
<!---#-->
<!---#= form_tag login_index_path, :method => :post do-->
<!---#  Login:-->
<!---#  %br-->
<!---#  Username-->
<!---#  = text_field_tag "username"-->
<!---#  %br-->
<!---#  Password-->
<!---#  = password_field_tag "password"-->
<!---#  %br-->
<!---#  = submit_tag 'Submit'-->