<%= link_to 'Back', :back %>

<div class="center">
  <h1 class="text-danger error-header">401 Unauthorized</h1>
  <div class="error-content">
    <p>You are trying to access a resource that you have no permission to.</p>
    <p>Please go back and try again.</p>
  </div>
</div>