<table>
  <tr>
    <th>Ride ID</th>
    <th>Type</th>
  </tr>
  <% @rides.each do |r| %>
    <tr>
      <td><%= r.id %></td>
      <td><%= r.role %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Create Ride', new_ride_url %>