<center>
  <h1>Driver or Passenger?</h1>
    
  <%= form_with model: @ride do |form| %>
    
  <p>
      <%= form.radio_button :role, 'driver' %> Driver <br>
      <%= form.radio_button :role, 'passenger' %> Passenger <br>
  </p>
    
  <p>
      <%= form.submit %>
  </p>
  <% end %>
</center>